/* Portrait */
@media all and (orientation: portrait){
    * {
        font-family: sans-serif;
    }

    body {
        background: black;
    }

    .registered {
        color: white;
        display: block;
    }

    #inputArea {
        position: absolute;
        bottom: 0;
        color: white;
    }

    #inputArea p, #inputArea input {
        display: inline;
    }

    #inputArea input {
        background: black;
        border: none;
    }
}

/* Landscape */
@media all and (orientation: landscape){
    * {
        font-family: sans-serif;
    }
    
    body {
        background: black;
    }
    
    .registered {
        color: white;
        display: block;
    }
    
    #inputArea {
        position: absolute;
        bottom: 0;
        color: white;
    }
    
    #inputArea p, #inputArea input {
        display: inline;
    }
    
    #inputArea input {
        background: black;
        border: none;
    }
}

